@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "SF Pro Text";
  src: url("/public/SF-Pro-Text-Regular.otf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-inter-regular-12: Inter;
  --www-indstocks-com-stocks-zomato-ltd-share-price-1440x810-default-sf-pro-text-regular-14: "SF Pro Text";

  /* font sizes */
  --font-size-xl: 20px;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-inter-regular-16-size: 16px;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-inter-regular-12-size: 12px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --www-indstocks-com-stocks-zomato-ltd-share-price-1440x810-default-sf-pro-text-regular-14-size: 14px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-base-6: 15.6px;
  --font-size-base-1: 15.1px;
  --font-size-mini-3: 14.3px;
  --font-size-17xl-4: 36.4px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-lg-9: 18.9px;
  --font-size-xs-2: 11.2px;
  --font-size-smi: 13px;
  --font-size-sm-8: 13.8px;
  --font-size-sm-6: 13.6px;
  --font-size-2xs: 11px;
  --font-size-9xl: 28px;

  /* Colors */
  --gray-white: #fff;
  --color-gainsboro-100: #e6e6e6;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-mercury: #e3e3e3;
  --gray-5: #dee1e6;
  --color-gainsboro-200: #dedfe2;
  --day-gray-04: #d3e0e6;
  --color-gainsboro-300: #d1e0db;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-mine-shaft: #202020;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-cod-gray1: #1d1d1d;
  --www-indstocks-com-stocks-zomato-ltd-share-price-1440x810-default-shark: #191c1f;
  --color-gray-100: #111827;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-cod-gray: #171717;
  --gray-1: #0f152a;
  --color-gray-200: #0b1426;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-burnt-sienna-10: rgba(
    238,
    104,
    85,
    0.1
  );
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-sunglo: #e96975;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-shamrock: #32be88;
  --absolute-green: #0fba83;
  --color-mediumseagreen-100: #14b079;
  --groww-in-stocks-zomato-ltd-1440x810-default-persian-green: #00b386;
  --tokeninsight-com-en-coins-ethereum-tokenomics-1440x810-default-niagara-6: rgba(
    10,
    178,
    125,
    0.06
  );
  --color-mintcream: #ebf9f4;
  --primary-blue: #0052fe;
  --primary-darkblue: #0141cf;
  --www-indstocks-com-stocks-zomato-ltd-share-price-1440x810-default-solitude: #e8f4fd;
  --color-lightslategray-100: #808a9d;
  --day-gray-06: #788f9b;
  --gray-3: #768396;
  --day-gray-07: #3e5765;
  --groww-in-stocks-zomato-ltd-1440x810-default-gun-powder: #44475b;
  --gray-2: #3e424a;
  --color-darkslategray-100: #333;
  --color-orange: #faa002;
  --color-dodgerblue: #0082ff;
  --color-lightgray: rgba(201, 207, 221, 0.6);
  --groww-in-stocks-zomato-ltd-1440x810-default-waterloo: #7c7e8c;
  --color-slategray-100: #667085;
  --color-slategray-200: #5c697d;
  --color-slategray-300: #5d667b;
  --absolute-red: #f7324c;
  --groww-in-stocks-zomato-ltd-1440x810-default-french-gray: #c7c8ce;
  --absolute-black: #000;
  --color-dimgray: #666;
  --color-lavender: #e2ecfe;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-lg: 18px;
  --gap-5xl: 24px;
  --gap-sm-2: 13.2px;
  --gap-8xs-1: 4.1px;
  --gap-6xl: 25px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-mini: 15px;
  --gap-9xl: 28px;
  --gap-mid: 17px;
  --gap-14xl: 33px;
  --gap-19xs-2: -6.2px;
  --gap-9xs: 4px;
  --gap-23xs-2: -10.2px;
  --gap-18xs-5: -5.5px;
  --gap-23xs-5: -10.5px;
  --gap-28xs-5: -15.5px;
  --gap-61xs-5: -48.5px;
  --gap-73xs-5: -60.5px;
  --gap-66xs-5: -53.5px;
  --gap-smi: 13px;
  --gap-6xs: 7px;
  --gap-12xs: 1px;
  --gap-21xl: 40px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;

  /* Paddings */
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-15xl: 34px;
  --padding-11xs: 2px;
  --padding-11xl: 30px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-10xs-8: 2.8px;
  --padding-10xs-3: 2.3px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-0: 0px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-31xl: 50px;
  --padding-30xl: 49px;
  --padding-6xl: 25px;
  --padding-lgi: 19px;
  --padding-4xl: 23px;
  --padding-8xl: 27px;
  --padding-10xl: 29px;
  --padding-4xs: 9px;
  --padding-xs-2: 11.2px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-367xl: 386px;
  --padding-174xl: 193px;
  --padding-45xl: 64px;
  --padding-512xl: 531px;
  --padding-246xl: 265px;
  --padding-109xl: 128px;
  --padding-35xl: 54px;
  --padding-64xl: 83px;
  --padding-2xs: 11px;
  --padding-7xl: 26px;
  --padding-802xl: 821px;
  --padding-328xl: 347px;
  --padding-515xl: 534px;
  --padding-13xl-3: 32.3px;
  --padding-11xs-5: 1.5px;
  --padding-19xl: 38px;
  --padding-2xl: 21px;
  --padding-34xl: 53px;
  --padding-mini-5: 14.5px;
  --padding-33xl: 52px;
  --padding-smi-5: 12.5px;
  --padding-79xl: 98px;
  --padding-75xl: 94px;
  --padding-xs-8: 11.8px;
  --padding-smi: 13px;
  --padding-26xl: 45px;
  --padding-smi-3: 12.3px;
  --padding-9xl: 28px;
  --padding-xs-9: 11.9px;
  --padding-smi-6: 12.6px;
  --padding-51xl: 70px;
  --padding-smi-1: 12.1px;
  --padding-55xl: 74px;
  --padding-348xl: 367px;
  --padding-164xl: 183px;
  --padding-7xs: 6px;
  --padding-14xl: 33px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xs: 2px;
  --br-smi: 13px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-5xs-5: 7.5px;
  --br-6xs-7: 6.7px;
  --br-7xs: 6px;
  --br-40xl-2: 59.2px;
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-13xl: 32px;

  /* Effects */
  --box-shadow1: 0px 0px 12px rgba(16, 38, 73, 0.06);
}
